<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="br.com.bonaldi.currency.conversion.MainApplication"
        android:usesCleartextTraffic="true">


        <uses-library android:name="android.test.runner"
            android:required="false" />

        <uses-library android:name="android.test.base"
            android:required="false" />

        <activity android:name="br.com.bonaldi.currency.conversion.currencyconversion.presentation.ConversionActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2101805177920749~8149289852"/>
    </application>

</manifest>